@import url('reset.css');


:root {
    --primary-color: #413C38;
    --secondary-color: #ECEFF1   ;
    --accent-color: #e74c3c;
    --background-color: #ecf0f1;
    --nav-cor: #424242;
    --text-color: #424242;
    --corpo-color: #607D8B;
}

body{
    background-color: var(--corpo-color);
}

.texto-link{
    text-decoration: none;
}

.texto{
    font-size: 35px;
    color: var(--background-color);
}

.header{
    background-color: var(--primary-color);
    height: auto;
}



.header__texto{
    display: flex;
    gap: 30rem;
    align-items: center;
    margin-right: 15rem;
}



.logo{
    height: 200px;
    width: 200px;
}

.nav{
    background-color: var(--nav-cor);
    height: 7rem;
}

.nav__container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}

.texto-nav{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}


.texto-nav:hover {
    background-color: #FF3131;
    color: black; /* Cor do texto quando hover */
}

.container{
    height: 30rem;
    background-color: #B0BEC5;
}

.contariner__texto{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.main_container{
    height: 10rem;
}

.main_container_nossoLema{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    gap: 2rem;
}

.lema_titulo{
    margin-top: 1rem;
    font-size: 32px;
}

.texto-lema{
    color: var(--primary-color);
}

.main_container__blocos{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.texto_blocos{
    background-color: black;
    padding: 5rem;
    margin: 5rem 0 3rem 0;
    border: 4px solid var(--secondary-color);
    transition: background-color 0.3s ease, padding 0.3s ease, border 0.3s ease;

}

.texto_blocos:hover{
    background-color: var(--secondary-color);
    padding: 6rem;
    border: 4px solid black;
    color: black;
}

