@import url('reset.css');


:root {
    --primary-color: #3498db;
    --secondary-color: #2980b9   ;
    --accent-color: #e74c3c;
    --background-color: #ecf0f1;
    --text-color: #2c3e50;
}

body{
    background-color: var(--background-color);
}

.texto{
    text-decoration: none;
}

.header{
    background-color: var(--primary-color);
    height: 5rem;
}

.header__texto{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;    
}

.nav{
    background-color: var(--secondary-color);
    height: 2rem;
}

.nav__texto{
    display: flex;
    justify-content: space-around;
    padding: 0.5rem;
}

.container{
    height: 500px;
    background-color: gold;
}

.contariner__texto{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}